{% extends 'patient/patientbase.html' %}
{% block content %}
{% load widget_tweaks %}
{%load static%}
<div id="intro" class="bg-image shadow-2-strong">
   <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.8);">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-xl-5 col-md-8">
               <form class="bg-white rounded shadow-5-strong p-5" method="POST">
                  {% csrf_token %}
                  <div class="card-heading" >
                     <h2 class="title" align="center">Blood Request Form</h2>
                  </div>
                  <hr>
                  <br>
                  <div class="form-row">
                     <div class="name">Patient Name</div>
                     <div class="value">
                        <div class="input-group">
                           {% render_field request_form.patient_name|attr:'required:true'  class="input--style-5"  %}
                        </div>
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="name">Patient Age</div>
                     <div class="value">
                        <div class="input-group">
                           {% render_field request_form.patient_age|attr:'required:true'  class="input--style-5"  %}
                        </div>
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="name">Reason</div>
                     <div class="value">
                        <div class="input-group">
                           {% render_field request_form.reason|attr:'required:true'  class="input--style-5"  %}
                        </div>
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="name">Blood Group</div>
                     <div class="value">
                        <div class="input-group">
                           <div class="rs-select2 js-select-simple select--no-search">
                              <select name="bloodgroup">
                                 <option disabled="disabled" selected="selected">Choose option</option>
                                 <option>O+</option>
                                 <option>O-</option>
                                 <option>A+</option>
                                 <option>A-</option>
                                 <option>B+</option>
                                 <option>B-</option>
                                 <option>AB+</option>
                                 <option>AB-</option>
                              </select>
                              <div class="select-dropdown"></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="name">Unit</div>
                     <div class="value">
                        <div class="input-group">
                           {% render_field request_form.unit|attr:'required:true'  class="input--style-5"  %}
                        </div>
                     </div>
                  </div>
                  <br>
                  <button type="submit" class="btn btn-primary btn-block">REQUEST</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}