{% extends 'donor/login_header.html'%}
{% block content %}
{% load widget_tweaks %}
{%load static%}
<div id="intro" class="bg-image shadow-2-strong">
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.8);">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-10 col-md-8">
            <form class="bg-white rounded shadow-5-strong p-5">
                <div class="card-heading" >
                    <h2 class="title" align="center">Our Team</h2>
                </div><hr><br>
                <div class="row">
                    <div class="col-sm">
                      <div class="card bg-light">
                        <div class="card-header">
                            <center><img class="rounded-circle shadow-4-strong" alt="avatar2" src="https://i.ibb.co/VWV9ZJk/Whats-App-Image-2023-01-08-at-11-11-59.jpg" style="width: 200px; height: 200px;"/></center>
                          </div>
                        <div class="card-body">
                            <div style="text-align: center; font-size: 20px; color: #262626;">
                                Sanket Saurav<br></div>
                                <div style="text-align: center; font-size: 15px; font-family: "Century Gothic";">
                                1CR20CS170</div>
                                <div style="text-align: center; font-size: 13px; font-family: "Century Gothic";">
                                BE-CSE (5<sup>th</sup> Sem) <br>
                                CMRIT, Bangalore</div>
                            <center>
                                <a href="https://www.linkedin.com/in/sanket-saurav-19621a17a/" target="_blank">
                                    <img src="https://i.ibb.co/gtC5SmL/linkedin-2.png" style="width: 25px; height: 25px;" class="icon1"> </a> &emsp;
                                <a href="https://github.com/sanketsaurav2411/" target="_blank">
                                    <img src="https://i.ibb.co/X8VMhCD/github-1.png" style="width: 25px; height: 25px;" class="icon1"> </a>
                            </center>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card bg-light">
                          <div class="card-header">
                              <center><img class="rounded-circle shadow-4-strong" alt="avatar2" src="https://i.ibb.co/tqB0gYv/Whats-App-Image-2022-12-31-at-15-00-02.jpg" style="width: 200px; height: 200px;"/></center>
                            </div>
                          <div class="card-body">
                              <div style="text-align: center; font-size: 20px; color: #262626;">
                                  Guna Shekhar<br></div>
                                  <div style="text-align: center; font-size: 15px; font-family: "Century Gothic";">
                                  1CR20CS173</div>
                                  <div style="text-align: center; font-size: 13px; font-family: "Century Gothic";">
                                  BE-CSE (5<sup>th</sup> Sem) <br>
                                  CMRIT, Bangalore</div>
                              <center>
                                  <a href="https://www.linkedin.com/in/sanket-saurav-19621a17a/" target="_blank">
                                      <img src="https://i.ibb.co/gtC5SmL/linkedin-2.png" style="width: 25px; height: 25px;" class="icon1"> </a> &emsp;
                                  <a href="https://github.com/sanketsaurav2411/" target="_blank">
                                      <img src="https://i.ibb.co/X8VMhCD/github-1.png" style="width: 25px; height: 25px;" class="icon1"> </a>
                              </center>
                              </div>
                          </div>
                      </div>
                    </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock content %}